.tableradius {
    border-radius: 0.5rem;
    border-width: 8px;
    border-color: white;
    border-collapse: 0;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
}



// .displaypoint_table{
//     tr:nth-child(odd){
//         background-color:#f3f4f6;
//       }
//     tr {
//         border: none;
//     }
// }
.gridnote{
    display: grid;
    gap: 16px;
    grid-auto-columns: max-content;
    grid-template-rows: 1fr;
    
    overflow-x: auto;
  }
 .childridnote{
    grid-row: 1;
    grid-column: auto;
   }