<template>
    <div>
        <button
            v-on:click="toggleModal()"
            class="flex items-center w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#6CBAD1">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg>
        </button>
        <div
            
           v-if="showmodal"  class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
        >
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                <div
                    class="absolute inset-0 bg-gradient-to-r from-bluesky to-legalcom shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
                ></div>
                <div
                    class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20"         
                >
                    <div class="max-w-lg mx-auto flex text-lg flex-col gap-2">
                              
                    <label class="font-medium" for="name">Nom</label>
                    <input   
                        class="bg-gray-200"
                        type="text"
                        name="name"
                        v-model="name"     
                        :placeholder="name"
                    />
                    <div class="flex flex-row gap-4">
                                    <button @click="toggleModal()"
                                        class="bg-bluesky hover:bg-sky-200 text-white rounded-md px-2 py-1"
                                    >
                                       Annuler
                                    </button>
                                    <button @click="updateUser()"
                                        class="bg-legalcom hover:bg-blue-300 text-white rounded-md px-2 py-1"
                                    >
                                       Mettre à jour
                                    </button>
                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props : {
       customer: {required: true},
        },
    data() {
        return {
            showmodal: false,
             id: this.customer.id,
             name: this.customer.name,
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        };
    },
    methods: {
        toggleModal: function() {
            this.showmodal = !this.showmodal;
        },
      updateUser: function()  {
            
         axios
            .post("/customerupdate", {
              id: this.id,
             name: this.name,       
            })
            .then((response) => {
                console.log(response);
            })
            .catch((error) => {
            console.log(error);
            });
      },
    }
};
</script>
