<template>
    <div>
        <button v-on:click="toggleModal()"> <img class="fill-current text-legalcom"
                        width="35"
                        height="35"
                        src="/images/toolsicon.svg"
                    /></button>
        <!-- component -->
        <div
            
           v-if="showmodal"  class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
        >
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                <div
                    class="absolute inset-0 bg-gradient-to-r from-bluesky to-legalcom shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
                ></div>
                <div
                    class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20"
                >
                    <div class="max-w-md mx-auto flex flex-col gap-2">
                        <button @click="deleteDisplayPoint()"
                                        class="bg-red-600 hover:bg-red-200 text-white rounded-md px-2 py-1"
                                    >
                                        Supprimer le point d'affichage
                                    </button>
                        <label class="font-medium">Format</label>
                    <select
                        class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none"
                        :placeholder="Format"
                        name="formats"
                        v-model="format_id"
                    >
                        <option value="" disabled selected>Format:</option>
                        <option
                            class="text-gray-600"
                            v-for="format in format"
                            :key="format.id"
                            :value="format.id"
                        >
                            {{ format.name }}
                        </option>
                    </select>
                    <label class="font-medium">Support</label>
                    <select
                        class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none"
                        placeholder="Format"
                        name="formats"
                        v-model="support_id"
                    >
                        <option value="" disabled selected>Support :</option>
                        <option
                            class="text-gray-600"
                            v-for="support in support"
                            :key="support.id"
                            :value="support.id"
                        >
                            {{ support.name }}
                        </option>
                    </select>
                    <label class="font-medium" for="name">Nom</label>
                    <input
                        class="bg-gray-200"
                        type="text"
                        name="name"
                        v-model="name"
                        :placeholder="display[0].name"
                    />
                    <label class="font-medium" for="latitude">Latitude</label>
                    <input
                        class="bg-gray-200"
                        type="text"
                        name="latitude"
                        v-model="latitude"
                        :placeholder="display[0].latitude"
                    />
                    <label class="font-medium" for="longitude">Longitude</label>
                    <input
                        class="bg-gray-200"
                        type="text"
                        name="longitude"
                        v-model="longitude"
                        :placeholder="display[0].longitude"
                    />
                    <label class="font-medium" for="address">Adresse</label>
                    <input
                        class="bg-gray-200"
                        type="text"
                        name="address"
                        v-model="address"
                        :placeholder="display[0].adress"
                    />
                    <label class="font-medium" for="city">Ville</label>
                    <input
                        class="bg-gray-200"
                        type="text"
                        name="city"
                        v-model="city"
                        :placeholder="display[0].city"
                    />
                    <label class="font-medium" for="postcode"
                        >Code Postal</label
                    >
                    <input
                        class="bg-gray-200"
                        type="text"
                        name="postcode"
                        v-model="postcode"
                        :placeholder="display[0].postcode"
                    />
                    <div class="flex flex-row justify-between">
                                    <button @click="toggleModal()"
                                        class="bg-bluesky hover:bg-sky-200 text-white rounded-md px-2 py-1"
                                    >
                                        Annuler
                                    </button>
                                    <button @click="updateDisplaypoint()"
                                        class="bg-legalcom hover:bg-blue-300 text-white rounded-md px-2 py-1"
                                    >
                                       Mettre à jour
                                    </button>
                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        display: { required: false },
        format: { required: false },
        support: { required: false },
    },
    data() {
        return {
            content: "",
            showmodal: false,
            displays: this.display,
            display_point_id: this.display[0].display_point_id,
            id: this.display[0].displaypoint.id,
            format_id: this.display[0].displaypoint.format_id,
            support_id: this.display[0].displaypoint.support_id,
            address: this.display[0].displaypoint.address,
            postcode: this.display[0].displaypoint.postcode,
            name: this.display[0].displaypoint.name,
            latitude: this.display[0].displaypoint.latitude,
            longitude:this.display[0].displaypoint.longitude,
            city: this.display[0].displaypoint.city,
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
        };
    },
    methods: {
        toggleModal: function () {
            this.showmodal = !this.showmodal;
        },
        updateDisplaypoint: function () {
            axios
                .post("/displaypointupdate", {
                    id: this.id,
                   support_id: this.support_id,
                    format_id: this.format_id,
                    name: this.name,
                    latitude: this.latitude,
                    longitude: this.longitude,
                    address: this.address,
                    postcode: this.postcode,
                    city: this.city,
                })
                .then((response) => {
                    console.log(response);
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        deleteDisplayPoint: function () {
            axios
                .post("/displaypointdelete", {
                    display_point_id: this.display_point_id,
                })
                .then((response) => {
                    console.log(response);
                    window.location.href= "/projects/" + this.display[0].displaypoint.project_id + "/displaypoints";
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
        
    
};
</script>
