<template>
    <div>
        <button v-on:click="toggleModal()"> <img class="fill-current text-legalcom"
                        width="35"
                        height="35"
                        src="/images/toolsicon.svg"
                    /></button>
        <!-- component -->
        <div
            
           v-if="showmodal"  class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
        >
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                <div
                    class="absolute inset-0 bg-gradient-to-r from-bluesky to-legalcom shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
                ></div>
                <div
                    class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20"
                >
                    <div class="max-w-md mx-auto flex flex-col gap-2">
                        <button @click="deleteProject()"
                                        class="bg-red-600 hover:bg-red-200 text-white rounded-md px-2 py-1"
                                    >
                                        Supprimer le Projet
                                    </button>

                            <div v-if="!delete_project"
                            class="bg-red-100 border-t-4 m-auto max-w-md border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md"
                            role="alert"
                        >
                            <div class="flex">
                                <div class="py-1">
                                    <svg
                                        class="fill-current h-6 w-6 text-red-500 mr-4"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20"
                                    >
                                        <path
                                            d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
                                        />
                                    </svg>
                                </div>
                                <div>
                                    <p class="font-bold">
                                        Un erreur est survenue ! 
                                    </p>
                                    <p class="text-sm">
                                        Ce projet contient encore des éléments, veuillez les supprimer avant.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- <label class="font-medium">Format</label>
                    <select
                        class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none"
                        :placeholder="Format"
                        name="formats"
                        v-model="format_id"
                    >
                        <option value="" disabled selected>Format:</option>
                        <option
                            class="text-gray-600"
                            v-for="format in format"
                            :key="format.id"
                            :value="format.id"
                        >
                            {{ format.name }}
                        </option>
                    </select> -->
                    <label class="font-medium" for="name">Nom</label>
                    <input
                        class="bg-gray-200"
                        type="text"
                        name="name"
                        v-model="name"
                        :placeholder="projects.name"
                    />
                    <label class="font-medium" for="latitude">Date début</label>
                    <input class="cursor-pointer" type="date" id="start" name="trip-start"
                        min="2022-05-01" max="2030-12-31" v-model="date_begin" >
                    <label class="font-medium" for="longitude">Date fin</label>
                    <input class="cursor-pointer" type="date" id="start" name="trip-start"
                        min="2022-05-01" max="2030-12-31" v-model="date_end" >
                    
                    <div class="flex flex-row justify-between">
                                    <button @click="toggleModal()"
                                        class="bg-bluesky hover:bg-sky-200 text-white rounded-md px-2 py-1"
                                    >
                                        Annuler
                                    </button>
                                    <button @click="updateProject()"
                                        class="bg-legalcom hover:bg-blue-300 text-white rounded-md px-2 py-1"
                                    >
                                       Mettre à jour
                                    </button>
                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from "moment";
export default {
    props: {
        project: { required: false },
    },
    data() {
        return {
            content: "",
            showmodal: false,
            delete_project: true,
            projects: this.project,
            customer_id : this.project.customer_id,
            name : this.project.name,  
            date_begin : moment(this.project.date_begin).format("YYYY-MM-DD"),
            date_end : moment(this.project.date_end).format("YYYY-MM-DD"),
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
                moment: moment,
        };
    },
    methods: {
        toggleModal: function () {
            this.showmodal = !this.showmodal;
        },
        updateProject: function () {
            axios
                .post("/projectupdate", {
                    project_id: this.project.id,
                    customer_id: this.customer_id,
                    name: this.name,
                    date_begin: this.date_begin,
                    date_end: this.date_end, 
                })
                .then((response) => {
                    console.log(response);
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        deleteProject: function () {
            axios
                .post("/projectdelete", {
                    project_id: this.project.id,
                })
                .then((response) => {
                    console.log(response);
                    this.delete_project = response.data;
                    if(response.data) {
                        window.location = ("/projects/");
                    }
                    
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
        
    
};
</script>
