<template>
    <div>
        <button
            v-on:click="toggleModal()"
            class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                        </svg>
        </button>
        <div
            v-if="showmodal"
            class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
        >
            <div
            v-if="showmodal"
            class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden">

                
                       <div class="flex flex-col rounded-lg bg-white w-2/5 h-3/5">
                       <div class="card-header flex flex-row justify-end">
                       <button v-on:click="toggleModal()" class="p-4">
                       <svg  xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 hover:fill-current text-red-500" viewBox="0 0 20 20" fill="#6CBAD1">
                       <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                       </svg></button></div>
                       <header class="m-auto mb-3 text-legalcom text-2xl font-bold">Modifier étape projet</header>
                       <div class="m-auto w-3/5 flex flex-col gap-2">
                       <select v-if="actual_steps == '1'" class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none" name="customers" v-model="status">
                            <option value="" disabled selected>Statut actuel : {{status == '1' ? 'Terminé' : status == '2' ? 'Modification' : status == '3' ? 'Attente validation' : 'En cours'}}</option>
                            <option class="text-gray-600" value="0">En cours</option>
                            <option class="text-gray-600" value="1">Terminé</option>
                            <option class="text-gray-600" value="2">Modification</option>
                            <option class="text-gray-600" value="3">Attente validation</option>
                        </select>
                       <select v-else class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none" name="customers" v-model="status">
                            <option value="" disabled selected>Statut actuel : {{status == '1' ? 'Terminé' : 'En Cours'}}</option>
                            <option class="text-gray-600" value="0">En cours</option>
                            <option class="text-gray-600" value="1">Terminé</option>
                        </select>
                        <input type="date" id="start" name="trip-start"
                        min="2022-05-01" max="2030-12-31" v-model="date_begin" >
                        <input type="date" id="start" name="trip-start"
                        min="2022-05-01" max="2030-12-31" v-model="date_end">
                        </div>
                        <div class="m-auto w-3/5">
                        <button @click="createProject()"
                        class="w-40 text-xl font-medium bg-bluesky hover:bg-sky-200 text-white rounded-md px-2 py-1"
                        >
                        Modifier
                        </button></div>
                        </div>
                  </div>
        </div>
        <div
            v-if="showmodal"
            class="opacity-25 fixed inset-0 z-40 bg-black"
        ></div>
    </div>
</template>

<script>
import moment from "moment";
export default {
    props : {
       id: {required: true},
       actual_date_begin: {required: false},
       actual_date_end: {required: false},
       actual_projectstep_status: {required: false}, 
       actual_steps: {required: false}, 
        },
    data() {
        return {
            showmodal: false,
            projectstep_id: this.id,
            date_begin: moment(this.actual_date_begin).format("YYYY-MM-DD"),
            date_end: moment(this.actual_date_end).format("YYYY-MM-DD"),
            status: this.actual_projectstep_status,
            moment: moment,
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        };
    },
    methods: {
        toggleModal: function() {
            this.showmodal = !this.showmodal;
        },
      createProject: function()  {
            
         axios
            .post("/projectstepupdate", {
              id: this.id,
              status: this.status,
              date_begin: this.date_begin,
              date_end: this.date_end,              
            })
            .then((response) => {
                console.log(response);
                window.location.reload();
            })
            .catch((error) => {
            console.log(error);
            });
      },
    }
};
</script>
