<template>
    <div>
        <button
            v-on:click="toggleModal()"
            class="bloc-devis__buttonplay w-48 h-8 rounded-lg text-white font-semibold shadow-lg bg-bluesky hover:text-bluesky hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
            Créer Point Affichage
        </button>
        <div v-if="showmodal">
            <div
                v-if="!message_show"
                class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
            >
                <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                    <div
                        class="absolute inset-0 bg-gradient-to-r from-bluesky to-legalcom shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
                    ></div>
                    <div
                        class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20"
                    >
                        <div class="max-w-md mx-auto flex flex-col gap-2">
                            <label class="font-medium" :class="error_c.format_id ? 'text-red-500' : ''">Format</label>
                            <select
                                class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none"
                                placeholder="Format"
                                name="formats"
                                v-model="format_id"
                                :class="error_c.format_id ? 'ring-2 ring-red-500' : ''"
                            >
                                <option value="" disabled selected>
                                    Format:
                                </option>
                                <option
                                    class="text-gray-600"
                                    v-for="format in formats"
                                    :key="format.id"
                                    :value="format.id"
                                >
                                    {{ format.name }}
                                </option>
                            </select>
                            <label class="font-medium" :class="error_c.support_id ? 'text-red-500' : ''">Support</label>
                            <select
                                class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none"
                                placeholder="Format"
                                name="formats"
                                v-model="support_id"
                                :class="error_c.support_id ? 'ring-2 ring-red-500' : ''"
                            >
                                <option value="" disabled selected>
                                    Support :
                                </option>
                                <option
                                    class="text-gray-600"
                                    v-for="support in supports"
                                    :key="support.id"
                                    :value="support.id"
                                >
                                    {{ support.name }}
                                </option>
                            </select>
                            <label class="font-medium" :class="error_c.assigned_to ? 'text-red-500' : ''">Assignation</label>
                            <select
                                class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none"
                                placeholder="intervenant"
                                name="customers"
                                v-model="assigned_to"
                                :class="error_c.assigned_to ? 'ring-2 ring-red-500' : ''"
                            >
                                <option class="text-gray-600" value="">
                                    Affecter un commercial
                                </option>
                                <option
                                    class="text-gray-600"
                                    v-for="intervenant in intervenants.filter(
                                        function (commercial) {
                                            return commercial.role !== 'admin';
                                        }
                                    )"
                                    :key="intervenant.id"
                                    :value="intervenant.id"
                                >
                                    {{ intervenant.name }}
                                    {{ intervenant.firstname }}
                                </option>
                            </select>
                            <label class="font-medium" :class="error_c.name ? 'font-medium text-red-500' : ''" for="name">Nom</label>
                            <input
                                class="bg-gray-200"
                                type="text"
                                name="name"
                                v-model="name"
                                :class="error_c.name ? 'border-2 border-red-500' : ''"
                            />
                            <label class="font-medium" :class="error_c.latitude ? 'font-medium text-red-500' : ''" for="latitude"
                                >Latitude</label
                            >
                            <input
                                class="bg-gray-200"
                                type="text"
                                name="latitude"
                                v-model="latitude"
                                :class="error_c.latitude ? 'border-2 border-red-500' : ''"
                            />
                            <label class="font-medium" :class="error_c.longitude ? 'font-medium text-red-500' : ''" for="longitude" 
                                >Longitude</label
                            >
                            <input
                                class="bg-gray-200"
                                type="text"
                                name="longitude"
                                v-model="longitude"
                                :class="error_c.longitude ? 'border-2 border-red-500' : ''"
                            />
                            <label class="font-medium" :class="error_c.address ? 'font-medium text-red-500' : ''" for="address"
                                >Adresse</label
                            >
                            <input
                                class="bg-gray-200"
                                type="text"
                                name="address"
                                v-model="address"
                                :class="error_c.address ? 'border-2 border-red-500' : ''"
                            />
                            <label class="font-medium" :class="error_c.city ? 'font-medium text-red-500' : ''" for="city">Ville</label>
                            <input
                                class="bg-gray-200"
                                type="text"
                                name="city"
                                v-model="city"
                                :class="error_c.city ? 'border-2 border-red-500' : ''"
                            />
                            <label class="font-medium" for="postcode" :class="error_c.postcode ? 'font-medium text-red-500' : ''"
                                >Code Postal</label
                            >
                            <input
                                class="bg-gray-200"
                                type="text"
                                name="postcode"
                                v-model="postcode"
                                :class="error_c.postcode ? 'border-2 border-red-500' : ''"
                            />

                            <div class="flex flex-row justify-between">
                                <button
                                    @click="toggleModal(), resetError()"
                                    class="bg-bluesky hover:bg-sky-200 text-white rounded-md px-2 py-1"
                                >
                                    Annuler
                                </button>
                                <button
                                    @click="createProject()"
                                    class="bg-legalcom hover:bg-blue-300 text-white rounded-md px-2 py-1"
                                >
                                    Créer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                v-else
                class="min-w-screen h-screen animated fadeIn faster fixed left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none"
            >
                <div class="absolute bg-black opacity-80 inset-0 z-0"></div>
                <div
                    class="w-full max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg bg-white"
                >
                    <!--content-->
                    <div class="">
                        <!--body-->
                        <div class="text-center p-5 flex-auto justify-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-4 h-4 mb-2 flex items-center text-green-500 mx-auto"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                                ></path>
                            </svg>
                            <img
                                class="w-16 h-16 flex items-center mx-auto"
                                src="/images/displaypoint/check-green.svg"
                            />
                            <h2 class="text-xl font-bold py-4">
                                L'action a bien été réalisé
                            </h2>
                        </div>
                        <!--footer-->
                        <div class="p-3 mt-2 text-center space-x-4 md:block">
                            <button
                                @click="reloadWindow()"
                                class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100"
                            >
                                OK
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        id: { required: true },
        formats: { required: true },
        supports: { required: true },
        intervenants: { required: false },
    },
    data() {
        return {
            showmodal: false,
            pid: this.id,
            format_id: "",
            support_id: "",
            address: "",
            postcode: "",
            name: "",
            assigned_to: "",
            latitude: "",
            message_show: false,
            longitude: "",
            city: "",
            error_c: {
                format_id: false,
                support_id: false,
                address: false,
                postcode: false,
                name: false,
                assigned_to: false,
                latitude: false,
                longitude: false,
                city: false,
            },
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
        };
    },
    methods: {
        resetError: function(){
            Object.keys(this.error_c).forEach(v => this.error_c[v] = false);
        },                                                                                                                                                                     
        toggleModal: function () {
            this.showmodal = !this.showmodal;
        },
        reloadWindow() {
            window.location.reload();
        },
        createProject: function () {
            this.error_c.format_id = this.format_id == "" ? true : false;
            this.error_c.support_id = this.support_id == "" ? true : false;
            this.error_c.address = this.address == "" ? true : false;
            this.error_c.postcode = this.postcode == "" ? true : false;
            this.error_c.name = this.name == "" ? true : false;
            this.error_c.assigned_to = this.assigned_to == "" ? true : false;
            this.error_c.latitude = this.latitude == "" ? true : false;
            this.error_c.longitude = this.longitude == "" ? true : false;
            this.error_c.city = this.city == "" ? true : false;
            if (!this.error_c.format_id && !this.error_c.support_id && !this.error_c.address && !this.error_c.postcode && !this.error_c.name && !this.error_c.assigned_to && !this.error_c.latitude && !this.error_c.longitude && !this.error_c.city ) {
                axios
                    .post("/displaypointcreate", {
                        project_id: this.pid,
                        support_id: this.support_id,
                        format_id: this.format_id,
                        name: this.name,
                        assigned_to: this.assigned_to,
                        latitude: this.latitude,
                        longitude: this.longitude,
                        address: this.address,
                        postcode: this.postcode,
                        city: this.city,
                    })
                    .then((response) => {
                        console.log(response);
                        this.message_show = true;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        },
    },
};
</script>
