<template>
    <div>
        <button
            v-on:click="toggleModal()"
            class="bloc-devis__buttonplay w-32 h-8 rounded-lg text-white font-semibold shadow-lg bg-bluesky hover:text-bluesky hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
            Ajouter Étape
        </button>
        <div v-if="showmodal">
        <div v-if="!message_show">
        <div
            class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
        >
            <div class="flex flex-col rounded-lg bg-white w-2/5 h-3/5">
                <div class="card-header flex flex-row justify-end">
                    <button v-on:click="toggleModal(), resetError()" class="p-4">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-8 w-8 hover:fill-current text-red-500"
                            viewBox="0 0 20 20"
                            fill="#6CBAD1"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </button>
                </div>
                <header class="m-auto mb-3 text-legalcom text-2xl font-bold">
                    Créer une étape
                </header>
                <div class="m-auto w-3/5 flex flex-col gap-2">
                    <label class="font-medium" :class="error_c.step_id ? 'text-red-500' : ''">Étape</label>
                    <select
                        class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none"
                        placeholder="Client"
                        name="customers"
                        v-model="step_id"
                        :class="error_c.step_id ? 'ring-2 ring-red-500 ' : ''"
                    >
                        <option value="" disabled selected>Étape:</option>
                        <option
                            class="text-gray-600"
                            :class="error_c.step_id ? 'text-red-500 ' : ''"
                            v-for="step in steps"
                            :key="step.id"
                            :value="step.id"
                        >
                            {{ step.name }}
                        </option>
                    </select>
                    <label class="font-medium" :class="error_c.assigned_to ? 'text-red-500' : ''">Intervenant</label>
                            <select
                                class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none"
                                placeholder="intervenant"
                                name="customers"
                                v-model="assigned_to"
                                :class="error_c.assigned_to ? 'ring-2 ring-red-500' : ''"
                            >
                                <option class="text-gray-600" value="">Affecter un commercial</option>
                                <option
                                    class="text-gray-600"
                                    v-for="intervenant in intervenants.filter(function(commercial) {
    return commercial.role == 'commercial';
})"
                                    :key="intervenant.id"
                                    :value="intervenant.id"
                                >
                                    {{ intervenant.name }}
                                    {{ intervenant.firstname }}
                                </option>
                            </select>
                    <input
                        type="date"
                        id="start"
                        name="trip-start"
                        min="2022-05-01"
                        max="2030-12-31"
                        v-model="date_begin"
                        :class="error_c.date_begin ? 'border-2 border-red-500 text-red-600' : ''"
                    />
                    <input
                        type="date"
                        id="start"
                        name="trip-start"
                        min="2022-05-01"
                        max="2030-12-31"
                        v-model="date_end"
                        :class="error_c.date_end ? 'border-2 border-red-500 text-red-600' : ''"
                    />
                </div>
                <div class="m-auto w-3/5">
                    <button
                        @click="createProject()"
                        class="w-full rounded-2xl border-b-4 border-b-cyan-500 bg-bluesky py-3 font-bold text-white hover:bg-cyan-500 active:translate-y-[0.125rem] active:border-b-cyan-500"
                    >
                        Créer
                    </button>
                </div>
            </div>
        </div>
        <div
            class="opacity-25 fixed inset-0 z-40 bg-black"
        ></div>
        </div>
        <div v-else class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none" >
   	<div class="absolute bg-black opacity-80 inset-0 z-0"></div>
    <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
      <!--content-->
      <div class="">
        <!--body-->
        <div class="text-center p-5 flex-auto justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mb-2 flex items-center text-green-500 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <img class="w-16 h-16 flex items-center mx-auto" src="/images/displaypoint/check-green.svg" />
                        <h2 class="text-xl font-bold py-4 ">L'action a bien été réalisé</h2>  
        </div>
        <!--footer-->
        <div class="p-3  mt-2 text-center space-x-4 md:block">
            <button @click="reloadWindow()" class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100">
                OK
            </button>
        </div>
      </div>
    </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        id: { required: true },
        steps: { required: true },
        intervenants: {required: false},
    },
    data() {
        return {
            showmodal: false,
            message_show: false,
            pid: this.id,
            assigned_to: "",
            step_id: "",
            date_begin: "",
            date_end: "",
            error_c: {
                assigned_to: false,
                step_id: false,
                date_begin: false,
                date_end: false,
            },
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
        };
    },
    methods: {
        resetError: function(){
            Object.keys(this.error_c).forEach(v => this.error_c[v] = false);
        },
        toggleModal: function () {
            this.showmodal = !this.showmodal;
        },
        reloadWindow() {
            window.location.reload();
        },
        createProject: function () {
            
            this.error_c.step_id = this.step_id == "" ? true : false;
            this.error_c.assigned_to = this.assigned_to == "" ? true : false;
            this.error_c.date_begin = this.date_begin == "" ? true : false;
            this.error_c.date_end = this.date_end == "" ? true : false;
            if (!this.error_c.step_id && !this.error_c.assigned_to && !this.error_c.date_begin && !this.error_c.date_end) {
            axios
                .post("/projectstepcreate", {
                    project_id: this.pid,
                    step_id: this.step_id,
                    assigned_to: this.assigned_to,
                    date_begin: this.date_begin,
                    date_end: this.date_end,
                })
                .then((response) => {
                    console.log(response);
                    this.message_show = true;
                })
                .catch((error) => {
                    console.log(error);
                });
        }},
    },
};
</script>
