<template>
    <div>
        <button
            v-on:click="toggleModal()"
            :class=" add_or_update == 1 ? 'bloc-devis__buttonplay w-32 h-8 rounded-lg text-white font-semibold shadow-lg bg-bluesky hover:text-bluesky hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50' : 'bg-bluesky rounded-lg px-2 py-1 text-white font-medium hover:text-bluesky hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none'"
        >
        {{add_or_update == 1 ?  "+ Note" : "Modifier" }}
        </button>
        <!-- component -->
        <template v-if="add_or_update == 1">
        <div
            
           v-if="showmodal"  class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
        >
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                <div
                    class="absolute inset-0 bg-gradient-to-r from-bluesky to-legalcom shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
                ></div>
                <div
                    class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20"
                >
                    <div class="max-w-md mx-auto">
                        <div>
                            <h1 class="text-2xl font-semibold">
                                Créer une note
                            </h1>
                        </div>
                        <div class="divide-y divide-gray-200">
                            <div
                                class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
                            >
                                <div class="relative">
                                    <textarea id="message" rows="4" v-model="content" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-legalcom focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-legalcom dark:focus:border-legalcom" placeholder="Note..."></textarea>
                                </div>
                                <div class="flex flex-row justify-between">
                                    <button @click="toggleModal()"
                                        class="bg-bluesky hover:bg-sky-200 text-white rounded-md px-2 py-1"
                                    >
                                        Annuler
                                    </button>
                                    <button @click="createNote()"
                                        class="bg-legalcom hover:bg-blue-300 text-white rounded-md px-2 py-1"
                                    >
                                        Créer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div></template>
        <template v-if="add_or_update == 2">
        <div
            
           v-if="showmodal"  class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
        >
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                <div
                    class="absolute inset-0 bg-gradient-to-r from-bluesky to-legalcom shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
                ></div>
                <div
                    class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20"
                >
                    <div class="max-w-md mx-auto">
                        <div>
                            <h1 class="text-2xl font-semibold">
                                Modifier une note
                            </h1> 
                        </div>
                        <div class="divide-y divide-gray-200">
                            <div
                                class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
                            >
                                <div class="relative">
                                    <textarea id="message" rows="4" v-model="content" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-legalcom focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-legalcom dark:focus:border-legalcom" ></textarea>
                                </div>
                                <div class="flex flex-row justify-between">
                                    <button @click="toggleModal()"
                                        class="bg-bluesky text-white rounded-md px-2 py-1"
                                    >
                                        Annuler
                                    </button>
                                    <button @click="updateNote()"
                                        class="bg-legalcom text-white rounded-md px-2 py-1"
                                    >
                                        Appliquer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div></template>
    </div>
</template>

<script>
export default {
    props: {
        projectstepdisplaypoint_id: { required: false },
        note_id: { required: false },
        actualcontent: { required: false },
        add_or_update: { required: false },
        button_title: { required: false },
    },
    data() {
        return {
            content: this.actualcontent,
            showmodal: false,
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
        };
    },
    methods: {
        toggleModal: function () {
            this.showmodal = !this.showmodal;
        },
        createNote: function () {
            axios
                .post("/notecreate", {
                    projectstepdisplaypoint_id: this.projectstepdisplaypoint_id,
                    content: this.content,
                })
                .then((response) => {
                    console.log(response);
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        updateNote: function () {
            axios
                .post("/noteupdate", {
                   note_id: this.note_id,
                    content: this.content,
                })
                .then((response) => {
                    console.log(response);
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
        
    
};
</script>
