<template>
    <div>
        <div class="flex flex-row items-center">
        <button class=" bloc-devis__buttonplay rounded-l-lg w-24 h-8 text-white font-semibold shadow-lg bg-legalcom hover:text-text-bluesky hover:bg-bluesky hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Client</button>
        <button
            v-on:click="toggleModal()"
            class=" flex flex-row items-center justify-center bloc-devis__buttonplay w-14 h-8 text-white font-semibold shadow-lg bg-legalcom border-l border-white hover:text-text-bluesky hover:bg-bluesky hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="#FFFFF" xmlns="http://www.w3.org/2000/svg">
<path d="M12.75 8C12.75 7.58579 12.4142 7.25 12 7.25C11.5858 7.25 11.25 7.58579 11.25 8H12.75ZM11.25 16C11.25 16.4142 11.5858 16.75 12 16.75C12.4142 16.75 12.75 16.4142 12.75 16H11.25ZM8 11.25C7.58579 11.25 7.25 11.5858 7.25 12C7.25 12.4142 7.58579 12.75 8 12.75L8 11.25ZM16 12.75C16.4142 12.75 16.75 12.4142 16.75 12C16.75 11.5858 16.4142 11.25 16 11.25L16 12.75ZM11.25 8V16H12.75V8H11.25ZM8 12.75L16 12.75L16 11.25L8 11.25L8 12.75ZM8 4.75H16V3.25H8V4.75ZM19.25 8V16H20.75V8H19.25ZM16 19.25H8V20.75H16V19.25ZM4.75 16V8H3.25V16H4.75ZM8 19.25C6.20507 19.25 4.75 17.7949 4.75 16H3.25C3.25 18.6234 5.37665 20.75 8 20.75V19.25ZM19.25 16C19.25 17.7949 17.7949 19.25 16 19.25V20.75C18.6234 20.75 20.75 18.6234 20.75 16H19.25ZM16 4.75C17.7949 4.75 19.25 6.20507 19.25 8H20.75C20.75 5.37665 18.6234 3.25 16 3.25V4.75ZM8 3.25C5.37665 3.25 3.25 5.37665 3.25 8H4.75C4.75 6.20507 6.20507 4.75 8 4.75V3.25Z" fill="#FFFFFF"/>
</svg>

        </button></div>
        <!-- component -->
        <div v-if="showmodal">
        <div v-if="!message_show">
        <div 
            
           class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
        >
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                <div
                    class="absolute inset-0 bg-gradient-to-r from-bluesky to-legalcom shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
                ></div>
                <div
                    class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20"
                >
                    <div class="max-w-md mx-auto">
                        <div>
                            <h1 class="text-2xl m-auto text-legalcom font-semibold">
                                Créer un Client
                            </h1>
                        </div>
                        <div class="divide-y divide-gray-200">
                            <div
                                class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
                            >
                                <div class="relative">
                                    <input id="client" v-model="name" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-legalcom focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-legalcom dark:focus:border-legalcom" 
                                    :class="error_c.name ? 'border-2 border-red-500' : ''"
                                    placeholder="Nom client..." />
                                </div>
                                <div class="flex flex-row justify-between">
                                    <button @click="toggleModal(), resetError()"
                                        class="bg-bluesky text-white rounded-md px-2 py-1"
                                    >
                                        Annuler
                                    </button>
                                    <button @click="createNote()"
                                        class="bg-legalcom text-white rounded-md px-2 py-1"
                                    >
                                        Créer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div
            class="opacity-25 fixed inset-0 z-40 bg-black"
        ></div>
        </div>
        <div v-else class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none" >
   	<div class="absolute bg-black opacity-80 inset-0 z-0"></div>
    <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
      <!--content-->
      <div class="">
        <!--body-->
        <div class="text-center p-5 flex-auto justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mb-2 flex items-center text-green-500 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <img class="w-16 h-16 flex items-center mx-auto" src="/images/displaypoint/check-green.svg" />
                        <h2 class="text-xl font-bold py-4 ">L'action a bien été réalisé</h2>  
        </div>
        <!--footer-->
        <div class="p-3  mt-2 text-center space-x-4 md:block">
            <button @click="reloadWindow()" class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100">
                OK
            </button>
        </div>
      </div>
    </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            name: "",
            showmodal: false,
            message_show: false,
            error_c: {
                name: false,
            },
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
        };
    },
    methods: {
        resetError: function(){
            Object.keys(this.error_c).forEach(v => this.error_c[v] = false);
        },
        toggleModal: function () {
            this.showmodal = !this.showmodal;
        },
         reloadWindow() {
            window.location.reload();
        },
        createNote: function () {
            this.error_c.name = this.name == "" ? true : false;
            if(!this.error_c.name){
            axios
                .post("/customercreate", {
                    name: this.name,
                })
                .then((response) => {
                    console.log(response);
                    this.message_show = true;
                })
                .catch((error) => {
                    console.log(error);
                });
        }},
       
    },
        
    
};
</script>
