<template>
    <div>
        <button
            v-on:click="toggleModal()"
            class="bloc-devis__buttonplay w-32 h-8 rounded-lg text-white font-semibold shadow-lg bg-bluesky hover:text-bluesky hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
            + Ajouter
        </button>


        <div v-if="showmodal">
        <div v-if="!message_show"
            class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans"
        >
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                <div
                    class="absolute inset-0 bg-gradient-to-r from-bluesky to-legalcom shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
                ></div>
                <div
                    class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20 "
                >
                <div class="max-w-md mx-auto flex flex-col gap-">
                    <div class="mb-6" v-if="customer_id == 1">
                        <label
                            for="role"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
                            >Choisir un rôle</label
                        >
                        <select
                            id="role"
                            v-model="role"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            >
                            <option value="" disabled selected>
                                Assigner un rôle
                            </option>
                            <option value="commercial">Commercial</option>
                            <option value="afficheur">Afficheur</option>
                            <option value="huissier">Huissier</option>
                        </select>
                        <div v-if="role">
                            <label class="font-medium">Intervenant</label>
                            <select
                                class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none"
                                placeholder="intervenant"
                                name="customers"
                                v-model="user_id"
                            >
                                <option value="0">
                                    Ajouter un intervenant
                                </option>
                                <option
                                    class="text-gray-600"
                                    v-for="intervenant in intervenants_role"
                                    :key="intervenant.id"
                                    :value="intervenant.id"
                                >
                                    {{ intervenant.name }}
                                    {{ intervenant.firstname }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-4" v-else>
                        
                        <label class="font-medium">Contact</label>
                        <select
                            class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none"
                            placeholder="Client"
                            name="customers"
                            v-model="user_id"
                            :class="error_c.user_id ? 'ring-2 ring-red-500' : ''"
                        >
                            <option value="0">Ajouter un contact</option>
                            <option
                                class="text-gray-600"
                                :class="error_c.user_id ? 'text-red-500' : ''"
                                v-for="items in contacts"
                                :key="items.id"
                                :value="items.id"
                            >
                                {{ items.name }} {{ items.firstname }}
                            </option>
                        </select>
                    </div>
                    <div v-if="user_id == '0'">
                        <header
                            class="m-auto mb-3 text-legalcom text-2xl font-bold"
                        >
                            Créer un intervenant
                        </header>
                        <div v-if="user_id == 0">
                            <div class="mb-6">
                                <label
                                    for="name"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                    :class="error_c.name ? 'text-red-500' : ''"
                                    >Nom</label
                                >
                                <input
                                    id="name"
                                    type="text"
                                    placeholder="Nom du contact"
                                    name="name"
                                    v-model="name"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    :class="error_c.name ? 'border-2 border-red-500' : ''"
                                    />
                            </div>
                            <div class="mb-6">
                                <label
                                    for="firstname"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                    :class="error_c.firstname ? 'text-red-500' : ''"
                                    >Prénom</label
                                >
                                <input
                                    id="firstname"
                                    type="text"
                                    placeholder="Prénom du contact"
                                    name="name"
                                    v-model="firstname"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    :class="error_c.firstname ? 'border-2 border-red-500' : ''"   
                                    />
                            </div>
                            <div class="mb-6">
                                <label
                                    for="email"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                    :class="error_c.email ? 'text-red-500' : ''"
                                    >Email</label
                                >
                                <input
                                    type="email"
                                    id="email"
                                    placeholder="Email du contact"
                                    name="email"
                                    v-model="email"
                                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                                    :class="error_c.email ? 'border-2 border-red-500' : ''"                               
                                    />
                            </div>
                            <div class="mb-6">
                                <label
                                    for="phone_number"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                    :class="error_c.phone_number ? 'text-red-500' : ''"
                                    >Phone number</label
                                >
                                <input
                                    type="tel"
                                    id="phone_number"
                                    name="phone_number"
                                    v-model="phone_number"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    :class="error_c.phone_number ? 'border-2 border-red-500' : ''"
                                    pattern="^9[0-9]{7}"
                                    required
                                />
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="flex flex-row justify-between">
                                    <button @click="toggleModal(), resetError()"
                                        class="bg-bluesky hover:bg-sky-200 text-white rounded-md px-2 py-1"
                                    >
                                        Annuler
                                    </button>
                                    <button @click="createProject()"
                                        class="bg-legalcom hover:bg-blue-300 text-white rounded-md px-2 py-1"
                                    >
                                        Créer
                                    </button>
                    </div>
                </div>                                                                                                                                                                                                                                                                                                              v>
                
                </div>
                
            </div>
        <div v-else class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none" >
   	<div class="absolute bg-black opacity-80 inset-0 z-0"></div>
    <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
      <!--content-->
      <div class="">
        <!--body-->
        <div class="text-center p-5 flex-auto justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mb-2 flex items-center text-green-500 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <img class="w-16 h-16 flex items-center mx-auto" src="/images/displaypoint/check-green.svg" />
                        <h2 class="text-xl font-bold py-4 ">L'action a bien été réalisé</h2>  
        </div>
        <!--footer-->
        <div class="p-3  mt-2 text-center space-x-4 md:block">
            <button @click="reloadWindow()" class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100">
                OK
            </button>
        </div>
      </div>
    </div>
  </div>

        </div>




        <div
            v-if="showmodal"
            class="opacity-25 fixed inset-0 z-40 bg-black"
        ></div>
    </div>
</template>

<script>
export default {
    props: {
        id: { required: true },
        intervenants: { required: false },
        cid: { required: false },
        contacts: { required: false },
    },
    data() {
        return {
            showmodal: false,
            project_id: this.id,
            user_id: "",
            name: "",
            firstname: "",
            email: "",
            message_show: false,
            user_sucess: "",
            role: this.contacts ? "contact" : "",
            phone_number: "",
            intervenants_role: this.intervenants,
            customer_id: this.cid,
            error_c: {
                user_id: false,
                customer_id: false,
                name: false,
                firstname: false,
                email: false,
                user_sucess: false,
                role: false,
                phone_number: false,
            },
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
        };
    },
    mounted() {},
    computed: {
        intervenants_role: function () {
            return this.intervenants.filter((a) => a.role == this.role);
        },
    },
    methods: {
        resetError: function(){
            Object.keys(this.error_c).forEach(v => this.error_c[v] = false);
        },  
        toggleModal: function () {
            this.showmodal = !this.showmodal;
        },
        reloadWindow() {
            window.location.reload();
        },
        createProject: function () {
            this.error_c.user_id = this.user_id == "" ? true : false;
            this.error_c.customer_id = this.customer_id == "" ? true : false;
            this.error_c.name = this.name == "" ? true : false;
            this.error_c.firstname = this.firstname == "" ? true : false;
            this.error_c.email = this.email == "" ? true : false;
            this.error_c.role = this.role == "" ? true : false;
            this.error_c.phone_number = this.phone_number == "" ? true : false;
            // if ((!this.error_c.user_id && this.error_c.name && this.error_c.firstname && this.error_c.email && this.error_c.role && this.error_c.phone_number) || (!this.error_c.user_id && this.error_c.customer_id))  {
            axios
                .post("/contactcreate", {
                    user_id: this.user_id,
                    name: this.name,
                    firstname: this.firstname,
                    email: this.email,
                    role: this.role,
                    phone_number: this.phone_number,
                    pid: this.project_id,
                    cid: this.customer_id,
                })
                .then((response) => {
                    console.log(response);
                    this.user_sucess = response.data.user_sucess;
                    this.message_show = true;
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
};
</script>
