<template>
    <div>
        <button
            v-on:click="toggleModal()"
            class="bloc-devis__buttonplay w-32 h-8 rounded-lg text-white font-semibold shadow-lg bg-bluesky hover:text-bluesky hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
            + Photo
        </button>
        <!-- component -->
        <div v-if="showmodal">
        <div
            
            class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
        >
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                <div
                    class="absolute inset-0 bg-gradient-to-r from-bluesky to-legalcom shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
                ></div>
                <div
                    class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20"
                >
                    <div class="max-w-md mx-auto">
                        <div>
                            <h1 class="text-2xl font-semibold">
                                Ajouter une photo
                            </h1>
                        </div>
                        <div class="divide-y divide-gray-200">
                            <div
                                class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
                            >
                                <div class="flex justify-center">
                                    <div class="relative mb-3 w-96">
                                        <label
                                            for="formFile"
                                            class="form-label inline-block mb-2 text-gray-700"
                                            >Ajout photo</label
                                        >
                                        <input
                                            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                           type="file" id="file" accept="image/jpg,image/jpeg,image/png"
                                            ref="file"
                                             @change="handleFileUpload()"
                                        />
                                    </div>
                                    
                                </div>
                                <div class="flex flex-row gap-4">
                                    <button @click="toggleModal()"
                                        class="bg-bluesky hover:bg-sky-200 text-white rounded-md px-2 py-1"
                                    >
                                        Annuler
                                    </button>
                                    <button
                                        @click="submitFile()"
                                        class="bg-legalcom hover:bg-blue-300 text-white rounded-md px-2 py-1"
                                    >
                                        Ajouter
                                    </button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="opacity-25 fixed inset-0 z-40 bg-black"
        ></div>
        

        </div>
    </div>
</template>

<script>
export default {
    props: {
        project_id: { required: false },
        project_step_display_point_id: {required: false},
        button_title: { required: false },
    },
    data() {
        return {
            gps: "0,0",
            showmodal: false,
            message_show: false,
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
        };
    },
    methods: {
        onChangeFile(event) {
      this.$emit('update:modelValue', event.target.files[0])
    },
        toggleModal: function () {
            this.showmodal = !this.showmodal;
        },
        submitFile() {
      let formData = new FormData();
      formData.append('file', this.file);
      formData.append('project_id', this.project_id );
      formData.append('project_step_display_point_id', this.project_step_display_point_id );
      formData.append('geoloc', this.gps );
      console.log('>> formData >>', formData);
      // You should have a server side REST API 
      axios.post("/picturecreate",
          formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            },
          }
        ).then(function () {
          console.log('SUCCESS!!');
          window.location.reload();
        })
        .catch(function () {
          console.log('FAILURE!!');
        });
    },
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
      console.log('>>>> 1st element in files array >>>> ', this.file);
    }
    },
};
</script>
