<template>
    <section class="pt-12 min-h-screen" style="background-color: #eef3f7">
   
<!-- Breadcrumb -->
<nav class="flex ml-16 py-3 px-5 w-96 text-gray-700 bg-white rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a @click="BreadcrumbProject()" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white cursor-pointer">
        <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
        Home
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a @click="BreadcrumbProject2()" class="ml-1 text-sm font-bold text-legalcom hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white cursor-pointer">Points d'Affichages</a>
      </div>
    </li>
   
  </ol>
</nav>
        

        <section class="grid grid-rows-2 grid-cols-2 gap-1 mb-16">
            <!-- <article v-for="project in item" :key="project.id"> -->
            <article class="m-auto w-4/5">
                <div
                    class="flex flex-row justify-between bg-white max-w-lg w-full rounded-lg shadow-lg p-4"
                >
                    <div>
                        <h3
                            class="font-semibold text-lg text-gray-700 tracking-wide"
                        >
                            {{ project.name }}
                        </h3>
                        <div class="flex flex-row gap-4 items-center">
                            <div>
                        <p class="text-gray-500 my-1">
                            Client : {{ project.customer.name }}
                        </p></div>
                        <alter-customer-component :customer="project.customer"></alter-customer-component>
                        <div class="bg-legalcom rounded-lg px-2 py-1">
                <h3 class="uppercase text-white font-small">Du {{ moment(project.date_begin).format("DD/MM/YYYY") }} au {{ moment(project.date_end).format("DD/MM/YYYY") }}</h3>
            </div>
            
                    
                    </div>
                    </div>
                    <div>
                        <alter-project-component :project="project_send"></alter-project-component>
                    </div>
                </div>
            </article>

            <div class="w-4/5 m-auto flex flex-col gap-1">
                <div class="flex justify-between">
                    <h1 class="font-bold">Contacts</h1>
                    <article class="flex flex-row gap-2">
                    <button @click="contact_customing = !contact_customing" class="w-32 h-8 rounded-lg text-white font-semibold shadow-lg bg-control hover:text-control focus:ring-opacity-50  hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-control">
                        Modifier
                    </button>
                    <create-contact-component
                        :cid="cid"
                        :id="dpid"
                        :contacts="contacts"
                        @user_success="emit = $event"
                    ></create-contact-component>
                    </article>
                </div>
                <article class="bg-white rounded-lg p-8 w-full">
                    <table class="m-auto w-full">
                        <thead>
                            <tr
                                class="bg-gray-200 text-center text-gray-600 uppercase text-sm leading-normal"
                            >
                                <th>Contact</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td class="border-8 border-transparent">
                                <template
                                    v-for="user in users_project"
                                    :key="user.id"
                                >
                                
                                    <tr
                                        class="text-center hover:bg-gray-100 flex flex-row justify-center items-center gap-4"
                                        v-if="user.users.role == 'contact'"
                                    >
                                    <div>
                                        {{
                                            user.users.name
                                        }}
                                        {{
                                            user.users.firstname
                                        }} 
                                    </div>
                                    <div class="flex justify-center" v-if="contact_customing">
                                    <alter-contact-intervenant-component :user="user.users"></alter-contact-intervenant-component>
                                    <button  @click="deleteProjectUser(user.id)" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                    </button>
                                    </div>
                                    </tr>
                                    </template>
                                    </td>
                        </tbody>
                    </table>
                </article>
            </div>

            <div class="w-4/5 m-auto flex flex-col gap-1">
                <div class="flex justify-between">
                    <h1 class="font-bold">Intervenants</h1>
                    <article class="flex flex-row gap-2">
                    <button @click="projectuser_customing = !projectuser_customing" class="w-32 h-8 rounded-lg text-white font-semibold shadow-lg bg-control hover:text-control focus:ring-opacity-50  hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-control">
                        Modifier
                    </button>
                    <create-contact-component
                        :intervenants="intervenants"
                        :cid="1"
                        :id="dpid"
                        @user_success="emit"
                    ></create-contact-component>
                    </article>
                </div>
                <article class="bg-white rounded-lg p-8 w-full">
                    <table class="m-auto w-full">
                        <thead>
                            <tr
                                class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
                            >
                                <th>Commerciaux</th>
                                <th>Afficheurs</th>
                                <th>Huissiers</th>
                            </tr>
                        </thead>
                        <tbody
                            class="text-gray-600 text-center text-sm font-light"
                        >
                            <td class="py-3 px-6 text-center whitespace-nowrap">
                                <template
                                    v-for="user in users_project"
                                    :key="user.id"
                                >
                                
                                    <tr
                                        class="text-center hover:bg-gray-100 flex flex-row justify-center items-center gap-4"
                                        v-if="user.users.role == 'commercial'"
                                    >
                                    <div>
                                        {{
                                            user.users.name
                                        }}
                                        {{
                                            user.users.firstname
                                        }} 
                                    </div>
                                    
                                    <Popper :content="(user.users.email + '&nbsp&nbsp' + user.users.phone_number)">
                                            <button class="flex flex-row items-center w-4 mr-2 transform hover:text-purple-500 hover:scale-110 cursor-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                </svg>
                                            </button>
                                            </Popper>
                                    <div class="flex justify-center" v-if="projectuser_customing">
                                    <alter-contact-intervenant-component :user="user.users"></alter-contact-intervenant-component>
                                    <button  @click="deleteProjectUser(user.id)" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                    </button>
                                    
                                    </div>
                                    </tr>
                                   
                                </template>
                            </td>
                            <td class="py-3 px-6 text-center whitespace-nowrap">
                                <template
                                    v-for="user in users_project"
                                    :key="user.id"
                                >
                                
                                    <tr
                                        class="text-center hover:bg-gray-100 flex flex-row justify-center items-center gap-4"
                                        v-if="user.users.role == 'afficheur'"
                                    >
                                    <div>
                                        {{
                                            user.users.name
                                        }}
                                        {{
                                            user.users.firstname
                                        }} 
                                    </div>
                                    <Popper :content="(user.users.email + '&nbsp&nbsp' + user.users.phone_number)">
                                            <button class="flex flex-row items-center w-4 mr-2 transform hover:text-purple-500 hover:scale-110 cursor-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                </svg>
                                            </button>
                                            </Popper>
                                    <div class="flex justify-center" v-if="projectuser_customing">
                                    <alter-contact-intervenant-component :user="user.users"></alter-contact-intervenant-component>
                                    <button  @click="deleteProjectUser(user.id)" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                    </button>
                                    </div>
                                    
                                    </tr>
                                   
                                </template>
                            </td>
                            <td class="py-3 px-6 text-center whitespace-nowrap">
                                <template
                                    v-for="user in users_project"
                                    :key="user.id"
                                >
                                
                                    <tr
                                        class="text-center hover:bg-gray-100 flex flex-row justify-center items-center gap-4"
                                        v-if="user.users.role == 'huissier'"
                                    >
                                    <div>
                                        {{
                                            user.users.name
                                        }}
                                        {{
                                            user.users.firstname
                                        }} 
                                    </div>
                                    <Popper :content="(user.users.email + '&nbsp&nbsp' + user.users.phone_number)">
                                            <button class="flex flex-row items-center w-4 mr-2 transform hover:text-purple-500 hover:scale-110 cursor-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                </svg>
                                            </button>
                                            </Popper>
                                    <div class="flex justify-center" v-if="projectuser_customing">
                                    <alter-contact-intervenant-component :user="user.users"></alter-contact-intervenant-component>
                                    <button  @click="deleteProjectUser(user.id)" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                    </button>
                                    </div>
                                    </tr>
                                   
                                </template>
                            </td>
                        </tbody>
                    </table>
                </article>
            </div>

            <div class="w-4/5 m-auto flex flex-col gap-1">
                <div class="flex justify-between">
                    <h1 class="font-bold">Étape du Projet</h1>
                    <createprojectstep-component
                    :intervenants="intervenants"
                        :id="dpid"
                        :steps="steps"
                    ></createprojectstep-component>
                </div>
                <article class="bg-white rounded-lg p-8 w-full">
                    <table class="m-auto w-full">
                        <thead>
                            <tr
                                class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
                            >
                                <th>Proposition</th>
                                <th>Date</th>
                                <th>Statut</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                            <template
                                v-if="projectsteps && projectsteps.length != 0"
                            >
                                <tr
                                    v-for="projectstep in projectsteps"
                                    :key="projectstep.id"
                                    class="border-b border-gray-200 hover:bg-gray-100 rounded-lg"
                                >
                                    <td
                                        class="py-3 px-6 text-center whitespace-nowrap"
                                    >
                                        <span class="font-medium">{{
                                            projectstep.steps.name
                                        }}</span>
                                    </td>
                                    <td
                                        class="py-3 px-6 text-center whitespace-nowrap"
                                    >
                                        <span class="font-medium"
                                            >Début :
                                            {{
                                                moment(
                                                    projectstep.date_begin
                                                ).format("DD/MM/YYYY")
                                            }}
                                            <br />Fin :
                                            {{
                                                moment(
                                                    projectstep.date_end
                                                ).format("DD/MM/YYYY")
                                            }}</span
                                        >
                                    </td>

                                    <td
                                        class="py-3 px-6 text-center whitespace-nowrap"
                                    >
                                        <span class="font-medium">
                                            {{
                                            ProjectStatus(projectstep.step_id, projectstep.status)
                                        }}</span>
                                        <!-- <span v-if="projectstep.step_id == 1" class="font-medium">
                                            {{
                                            projectstep.status == 0
                                                ? "En cours"
                                                : projectstep.status == 1
                                                ? "Terminé" 
                                                : projectstep.status == 2
                                                ? "Modificiation" 
                                                :  "Attente validation"
                                        }}
                                            </span>
                                        <span v-else class="font-medium">{{
                                            projectstep.status
                                                ? "Terminé"
                                                : "En cours"
                                        }}</span> -->
                                    </td>
                                    <td class="py-3 px-6 text-center">
                                        <div
                                            class="flex justify-center"
                                        >
                                            <alterprojectstep-component
                                                :id="projectstep.id"
                                                :actual_projectstep_status="
                                                    projectstep.status"
                                                :actual_date_begin="
                                                    projectstep.date_begin"
                                                :actual_date_end="
                                                    projectstep.date_end"
                                                :actual_steps="projectstep.steps.id"
                                            ></alterprojectstep-component>
                                            <div>
                                            <button 
                                            v-on:click="deleteProjectstep(projectstep.id)"
                                                class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110"
                                            >
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="none"
                                                    viewBox="0 0 24 24"
                                                    stroke="currentColor"
                                                >
                                                    <path
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                                                    />
                                                </svg>
                                            </button></div>
                                            <div>
                                            <Popper :content="returnCommercial(projectstep.assigned_to)">
                                            <button class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110 cursor-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                </svg>
                                            </button>
                                            </Popper>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                            <template v-else>
                                <tr
                                    class="text-center border-b border-gray-200 hover:bg-gray-100"
                                >
                                    <td colspan="8">
                                        Aucun résultat pour cette recherche...
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </article>
            </div>
        </section>

        <div class="m-auto w-4/5 flex flex-col gap-1">
            <div class="flex w-full justify-between">
                 <sucre-component :project_id="dpid"></sucre-component>
                 <div class="flex flex-row gap-2">
                    <div v-if="displays && displays.length != 0">
                    <button @click="viewPDF()" class="bloc-devis__buttonplay w-64 h-8 rounded-lg text-white font-semibold shadow-lg bg-legalcom hover:text-bluesky hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Consulter le PDF</button>
                </div>
                <div>
                
                <createdisplaypoint-component
                    :id="dpid"
                    :formats="formats"
                    :supports="supports"
                    :intervenants="list_intervenant"
                ></createdisplaypoint-component></div></div>
            </div>

            <div class="bg-white w-full m-auto p-8 rounded-lg">
                <table class="displaypoint_table w-full md:table-fixed">
                    <thead class="bg-white">
                        <tr
                            class="text-gray-600 uppercase text-sm leading-normal"
                        >
                            <th>Numéro Point</th>
                            <th>Nom du point</th>
                            <th>Adresse</th>
                            <th>Coordonnées GPS</th>
                            <th>Nombre Photo/Notes</th>
                            <th>Type d'affiche</th>
                            <th>Type de support</th>
                            <th>Statut</th>
                            <th>Assigné à</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light">
                        <template v-if="displays && displays.length != 0">
                            <tr
                                v-for="(display, index) in displays.data"
                                :key="index"
                                class="border-b border-gray-200 hover:bg-gray-100 rounded-lg odd:bg-white even:bg-slate-50"
                            >
                                <td @click="goToDisplayPoint(dpid, display.id)"
                                    class="py-3 px-6 text-center whitespace-nowrap cursor-pointer hover:bg-1aff hover:text-white"
                                >
                                    <span class="font-medium">{{
                                        display.order
                                    }}</span>
                                </td>
                                <td
                                    class="py-3 px-6 text-center w-2 truncate whitespace-nowrap"
                                >
                                    <span class="font-medium cursor-pointer"
                                        ><acronym
                                            class="no-underline"
                                            :title="display.name"
                                            >{{ display.name }}</acronym
                                        ></span
                                    >
                                </td>
                                <td
                                    class="py-3 px-6 text-center w-2 truncate whitespace-nowrap"
                                >
                                    <span class="font-medium cursor-pointer"
                                        ><acronym
                                            class="no-underline"
                                            :title="display.address"
                                            >{{ display.address }}</acronym
                                        ></span
                                    >
                                </td>
                                <td
                                    class="py-3 px-6 text-center whitespace-nowrap"
                                >
                                    <span class="font-medium"
                                        >{{ display.latitude }} </span
                                    ><br />
                                    <span class="font-medium"
                                        >{{ display.longitude }}
                                    </span>
                                </td>
                                <td
                                    class="flex flex-col py-3 px-6 text-center whitespace-nowrap"
                                >
                                    <span class="font-medium">Photo : {{display.nbPhoto}}</span>
                                    <span class="font-medium">Note : {{display.nbNote}}</span>
                                </td>
                                <td
                                    class="py-3 px-6 text-center whitespace-nowrap"
                                >
                                    <span class="font-medium"
                                        >{{ display.format.name }} </span
                                    >
                                </td>
                                <td
                                    class="py-3 px-6 text-center whitespace-nowrap"
                                >
                                    <span class="font-medium"
                                        >{{ display.support.name }}
                                    </span>
                                </td>
                                <td
                                    class="py-3 px-6 text-center whitespace-nowrap"
                                >
                                    <span class="font-medium">{{ display.status == 0 ? 'En cours': display.status == 1 ? 'Rejeté' : display.status == 2 ? 'Validé' : 'À valider' }}</span>
                                </td>
                                <td
                                    class="py-3 px-6 text-center whitespace-nowrap"
                                >
                                    <span class="font-medium">{{ returnAfficheur(display.assigned_to)}}</span>
                                </td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr
                                class="text-center border-b border-gray-200 hover:bg-gray-100"
                            >
                                <td colspan="8">
                                    Aucun résultat pour cette recherche...
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <newpagination-component :page="displays.current_page" :last_page="displays.last_page" @page:update="getDisplays($event)"></newpagination-component>
            </div>
            <!-- <newpagination-component :page="projects.current_page" :last_page="projects.last_page" @page:update="getProjects($event)"></newpagination-component> -->
            <!-- <pagination :limit="2" :data="projects" @pagination-change-page="getProjects"></pagination> -->
            <!-- <div id="mapContainer"></div> -->
        </div>
    </section>
</template>

<script>
import moment from "moment";
import NewpaginationComponent from './NewpaginationComponent.vue';
import SucreComponent from './SucreComponent.vue';
import CreateContactComponent from './CreateContactComponent.vue';
import Popper from "vue3-popper";

import "leaflet/dist/leaflet.css";
import L from "leaflet";
import "@tweenjs/tween.js";
import "@elfalem/leaflet-curve";

export default {
    components: {
        NewpaginationComponent,
        SucreComponent,
        CreateContactComponent,
        Popper,
    },
    props: {
        project: { required: true },
        id: { required: true },
        item: { required: false },
        users_project: { required: false },
        intervenants: { required: false },
        customer_id: { required: false },
        contacts: { required: false },
    },
    data() {
        return {
            map: null,
            moment: moment,
            pomme: "bonjour",
            displayid: "",
            displays: {},
            project_send: this.project,
            list_intervenant: this.intervenants,
            projectsteps: {},
            projectuser_customing: "",
            contact_customing: "",
            steps: {},
            formats: {},
            supports: {},
            test: "",
            emit: "",
            project_step_display_points: {},
            request: {},
            dpid: this.id,
            cid: this.customer_id,
        };
    },

mounted() {
    console.log("test mounted");
    this.getDisplays();
    this.projectuser_customing= false;
    this.contact_customing= false;
    
  },
  onBeforeUnmount() {
    if (this.map) {
      this.map.remove();
    }
  },
    methods: {
        // async viewPDF() {
        //     axios
        //         .post("/pdf" , {
        //             project_id: this.dpid,
        //         })
        //         .then((response) => {
        //             console.log(response);
        //         })
        //         .catch((error) => {
        //             console.log(error);
        //         });
        // },
        viewPDF: function() {
            window.location = "/pdf/" + this.dpid;
        },
        returnCommercial: function (id){
            const intervenantRecherche = this.list_intervenant.find(x => x.id === id);
            const intervenantName = 'Commercial affecté : ' + intervenantRecherche.name + ' ' + intervenantRecherche.firstname;
            return intervenantName;
        },
        returnAfficheur: function (id){
            const intervenantRecherche = this.list_intervenant.find(x => x.id === id);
            const intervenantName = intervenantRecherche.name + ' ' + intervenantRecherche.firstname;
            return intervenantName;
        },
        async getDisplays(page = 1) {
            axios
                .post("/displays?page=" + page , {
                    dpid: this.dpid,
                })
                .then((response) => {
                    // console.log(response);
                    this.displays = response.data.displays;
                    console.log(this.displays);
                    this.projectsteps = response.data.projectsteps;
                    this.steps = response.data.steps;
                    this.formats = response.data.formats;
                    this.supports = response.data.supports;
                    this.project_step_display_points = response.data.project_step_display_points;
                })
                .catch((error) => {
                    console.log(error);
                });
        },

        async deleteProjectstep(id) {
            axios
                .post("/projectstepdelete", {
                    projectstep_id: id,
                })
                .then((response) => {
                    console.log(response);
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                });
        },

         async deleteProjectUser(id) {
            axios
                .post("/projectuserdelete", {
                    projectuser_id: id,
                })
                .then((response) => {
                    console.log(response);
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        ProjectStatus: function(step_id, project_status){
            if (step_id == 1){
                switch(project_status){
                    case 0:
                        return "En cours";
                    break;
                    case 1:
                        return "Terminé";
                    break;
                    case 2:
                        return "Modification";
                    break;
                    case 3:
                        return "Attente validation";
                    break;
                    
                }
            }else{
                    switch(project_status){
                        case 0:
                            return "En cours";
                            break;
                        case 1:
                            return "Terminé"
                            break;
                    }
                }
                
            },
        getProjectStepDisplayPointStatut: function(project_step_display_points, display_id){
            if (project_step_display_points){
            return project_step_display_points.findIndex((element) => element.display_point_id == display_id);};
        },
        goToDisplayPoint: function(id, displayid) {
            window.location = ("/projects/" + id + "/displaypoints/" + displayid);
      },

      BreadcrumbProject: function() {
         window.location = ("/projects/");
      },

      BreadcrumbProject2: function() {
         window.location = ("/projects/" + id + "/displaypoints");
      },
      AfficheIntervenant: function() {
        console.log("bonjour");
      }
     
    },
};
</script>

<style>
:root {
    --popper-theme-background-color: #ffffff;
  --popper-theme-background-color-hover: #ffffff;
  --popper-theme-text-color: #333333;
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-color: #eeeeee;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 32px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
  }
</style>