<template>
    <section class="w-full h-full" style="background-color: #eef3f7">
    <div class=" flex flex-row justify-center ">
    <nav class="flex ml-16 mb-12 py-3 px-5 w-2/6 text-gray-700 bg-white rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a @click="BreadcrumbProject()" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white cursor-pointer">
        <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
        Home
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a @click="BreadcrumbProject2()" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white cursor-pointer">Points d'Affichages</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a @click="BreadcrumbProject3()" class="ml-1 text-sm font-bold text-legalcom hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white cursor-pointer">Points d'Affichage {{displays[0].displaypoint.order}}</a>
      </div>
    </li>
   
  </ol>
</nav></div>
    <section class="flex flex-col gap-12 items-center">
        <article class="m-auto w-4/5">
            <div
                class="m-auto flex flex-row justify-between bg-white max-w-3xl w-full rounded-lg shadow-lg p-4"
            >
                <div class="flex flex-col gap-4">
                    <div>
                        <h3
                            class="font-semibold text-lg text-gray-700 tracking-wide"
                        >
                            Point d'affichage {{ displays[0].displaypoint.order }}
                        </h3>
                    </div>
                    <div>
                        <p class="text-gray-500 my-1">
                            {{ displays[0].displaypoint.address }}
                        </p>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center gap-4">
                    <alter-displaypoint-component :format="format"
                    :support="support" :display="display"></alter-displaypoint-component>
                    
                   
                    <img
                        @click="getOrder(displays[0].displaypoint)"
                        width="21"
                        height="21"
                        src="/images/displaypoint/pingps.svg"
                    />
                </div>
            </div>
        </article>
       
        <section v-for="(projectstepdisplaypoint,index) in displays" v-bind:key="index" class="m-auto bg-white w-4/5 p-8 rounded-lg flex flex-col gap-12 items-center shadow-lg">
        <article class="w-full flex flex-row justify-between items-center">
            <div>
               <h3 class="uppercase text-fontblue font-medium">{{projectstepdisplaypoint.projectstep.steps.name}}</h3> 
            </div>
            <create-photo-component :project_id="projectstepdisplaypoint.projectstep.project_id" :project_step_display_point_id="projectstepdisplaypoint.id"></create-photo-component>
            <create-note-photo-component :projectstepdisplaypoint_id="projectstepdisplaypoint.id" :add_or_update="1"></create-note-photo-component>
            <div :class="projectstepdisplaypoint.projectstep.status == 0 ? 'bg-green-600  rounded-lg px-2 py-1'  : 'bg-fontblue rounded-lg px-2 py-1'">
                <h3 class="uppercase text-white font-medium">Du {{ moment(projectstepdisplaypoint.projectstep.date_begin).format("DD/MM/YYYY") }} au {{ moment(projectstepdisplaypoint.projectstep.date_end).format("DD/MM/YYYY") }}</h3>
            </div>
            
            
        </article>
        <article  class="m-auto w-4/5 flex justify-center">
                <div v-if="photo_note_bool == true" class="flex flex-row max-w-xs shadow-lg">   
                    <div @click="photo_note_bool = true" class="w-40 bg-legalcom p-2 rounded-md z-10 flex flex-col items-center justify-center gap cursor-pointer">
                        <p class="text-white font-medium">Photos</p>
                        <div class="w-12 border bg-white"></div>
                        </div>
                    <div @click="photo_note_bool = false" class="w-40 bg-white p-2 z-0 -mx-2 rounded-md flex items-center justify-center text-legalcom font-medium hover:opacity-75 cursor-pointer"> Notes</div>
                </div>
                <div v-else class="flex flex-row max-w-xs shadow-lg">   
                    
                    <div @click="photo_note_bool = true" class="w-40 bg-white p-2 z-0 -mx-2 rounded-md flex items-center justify-center text-legalcom font-medium hover:opacity-75 cursor-pointer">
                    Photos
                    </div>
                    <div @click="photo_note_bool = false" class="w-40 bg-legalcom p-2 rounded-md z-10 flex flex-col items-center justify-center gap cursor-pointer">
                        <p class="text-white font-medium">Notes</p>
                        <div class="w-12 border bg-white"></div>
                        </div>
                
                </div>
        </article>
        
        <div v-if="photo_note_bool == false" >
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-12 gap-y-8">
        
        <div v-for="(notes,index) in projectstepdisplaypoint.note" v-bind:key="notes.id" class="flex flex-col gap-3 w-60 h-72 bg-white rounded-2xl shadow-xl p-4 ">
            <div class="h-40 text-fontblue" style="overflow: scroll"><p >{{notes.content}} </p></div>
            <div class="font-bold text-fontblue">Note {{index + 1}}</div>
            <div class="flex flex-row justify-between items-center text-fontblue">
                <div><p class="text-xs">{{ moment(notes.created_at).format("DD/MM/YYYY") }}</p></div>
                
                <div class="flex flex-row gap-2"> 
                    <!-- <button class="bg-bluesky rounded-lg px-2 py-1 text-white font-medium hover:text-bluesky hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none"> Modifier </button> -->
                    <create-note-photo-component :note_id="notes.id" :actualcontent="notes.content" :add_or_update="2" button_title="Modifier"></create-note-photo-component>
                <button @click="deleteNote(notes.id)" class="bg-red-600 rounded-lg px-3 py-1 text-white font-medium hover:text-red-600 hover:bg-red-200 hover:bg-opacity-50 focus:outline-none" > <img class="fill-current text-legalcom"
                        width="20"
                        height="20"
                        src="/images/trash_icon.svg"
                    /> </button>
                
                </div>
               
            </div>
        </div>
        </div></div>
        <div v-if="photo_note_bool == true" >
        <div  class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-12 gap-y-8">
        
        <div v-for="(pictures,index) in projectstepdisplaypoint.picture" v-bind:key="pictures.id" class="flex flex-col gap-3 w-60 h-72 bg-white rounded-2xl shadow-xl p-4 ">
            <div class="h-40 text-fontblue">
                <a :href="'/picture/' + pictures.id" target="_blank">
                <img
                        width="251"
                        height="156"
                        :src="'/picture/' + pictures.id"
                        style="width: 216px; height: 160px; object-fit: cover; object-position: 100% 0; border-radius:  15px;"
                        
                    /></a>
            </div>

            <div class="font-bold text-fontblue">Photo {{index + 1}}</div>
            <div class="flex flex-row justify-between items-center text-fontblue">
                <div><p class="text-xs">{{ moment(pictures.created_at).format("DD/MM/YYYY") }}</p></div>
                
                <div class="flex flex-row gap-2"> 
                 <a :href="'/picture/' + pictures.id" target="_blank">   
                <button class="bg-bluesky rounded-lg px-2 py-1 text-white font-medium hover:text-bluesky hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none"> Voir </button></a>
                <button @click="deletePicture(pictures.id, pictures.hashname)" class="bg-red-600 rounded-lg px-3 py-1 text-white font-medium hover:text-red-600 hover:bg-red-200 hover:bg-opacity-50 focus:outline-none" > <img class="fill-current text-legalcom"
                        width="20"
                        height="20"
                        src="/images/trash_icon.svg"
                    /> </button>
                </div>
               
            </div>
        </div>
        </div></div>
        <div class="flex flex-row justify-between w-full">
            <div v-if="displays[0].displaypoint.order > 1">
        <img   class="cursor-pointer"
                        @click="getOrder(displays[0].displaypoint, left)"
                        width="50"
                        height="50"
                        src="/images/displaypoint/larrow.svg"
                    /></div>
        <div v-else>
            <img   class="cursor-not-allowed"
                        width="50"
                        height="50"
                        src="/images/displaypoint/larrow_disab.svg"
                    />
        </div>
        <div  v-if="projectstepdisplaypoint.status" class="flex flex-row justify-center gap-6">
                <img    v-if="projectstepdisplaypoint.status == '1'"
                        @click="setstatus(projectstepdisplaypoint, 1)"
                        class="cursor-pointer"
                        width="40"
                        height="40"
                        src="/images/displaypoint/error-red.svg"
                    />
                <img    v-else
                        @click="setstatus(projectstepdisplaypoint, 1)"
                        class="cursor-pointer"
                        width="32"
                        height="32"
                        src="/images/displaypoint/error.svg"
                    />
                <img    v-if="projectstepdisplaypoint.status == '3'"
                        @click="setstatus(projectstepdisplaypoint, 3)"
                        class=" cursor-pointer"
                        width="40"
                        height="40"
                        src="/images/displaypoint/waiting-blue.svg"
                    />
                <img    v-else
                        @click="setstatus(projectstepdisplaypoint, 3)"
                        class=" cursor-pointer"
                        width="32"
                        height="32"
                        src="/images/displaypoint/waiting.svg"
                    />
                <img    v-if="projectstepdisplaypoint.status == '2'"
                        @click="setstatus(projectstepdisplaypoint, 2)"
                        class=" cursor-pointer"
                        width="40"
                        height="40"
                        src="/images/displaypoint/check-green.svg"
                    />
                <img    v-else
                        @click="setstatus(projectstepdisplaypoint, 2)"
                        class=" cursor-pointer"
                        width="32"
                        height="32"
                        src="/images/displaypoint/check.svg"
                    />
                
        </div>
        <div v-if="displays[0].displaypoint.order < display_all.length">
        <img   class="cursor-pointer"
                        @click="getOrder(displays[0].displaypoint, right)"
                        width="50"
                        height="50"
                        src="/images/displaypoint/arrow.svg"
                    /></div>
        <div v-else>
            <img   class="cursor-not-allowed"
                        width="50"
                        height="50"
                        src="/images/displaypoint/arrow_disab.svg"
                    />
        </div>

        </div>
        

        </section>
        </section>
    </section>
</template>

<script>
import moment from "moment";
export default {
    props: {
        display: { required: true },
        project_steps: { required: false },
        format: {required: false},
        support: {required: false},
        display_all: {required: false},    
    },
    data(){ return {     
        displays: this.display,
        display_id: this.display[0].displaypoint.id,   
        project_id: this.display[0].displaypoint.project_id,   
        photo_note_bool: true,
        left: 'left',
        right: 'right',
        show_right_arrow: 'true', 
        next_order: "",
        path: "",
        note_id: "",
        picture_id: "",
        moment: moment,
    };} ,     
    mounted () {
        this.reverseObject();
    },
    methods: {
        reverseObject: function() {
        this.displays.sort((a, b) => new Date(b.projectstep.date_begin) - new Date(a.projectstep.date_begin)); 
        },
        deleteNote: function (note_id) {
            axios
                .post("/notedelete", {
                    note_id: note_id,
                })
                .then((response) => {
                    console.log(response);
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        deletePicture: function (picture_id, hashname) {
            axios
                .post("/picturedelete", {
                    picture_id: picture_id,
                    hashname: hashname,
                })
                .then((response) => {
                    console.log(response);
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        setstatus: function (project_step_display_point_id, status) {
            axios
                .post("/psdpsetchecked", {
                    project_step_display_point_id: project_step_display_point_id,
                    status: status,
                })
                .then((response) => {
                    console.log(response);
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        getOrder: function (display, way) {
            axios
                .post("/getorder", {
                    display: display,
                    way: way,
                })
                .then((response) => {
                    console.log(response);
                    this.next_order = response.data.next_order;
                    window.location = ("/projects/" + this.project_id + "/displaypoints/" + this.next_order.id);
                })
                .catch((error) => {
                    console.log(error);
                });
        },

      BreadcrumbProject: function() {
         window.location = ("/projects/");
      },

      BreadcrumbProject2: function() {
         window.location = ("/projects/" + this.project_id + "/displaypoints");
      },
      BreadcrumbProject3: function(id, displayid) {
         window.location = ("/projects/" + this.project_id + "/displaypoints/" + this.display_id);
      },
    }
};
</script>

<style></style>
