<template>
    <div>
        <button
            v-on:click="toggleModal()"
            class="flex items-center justify-center bloc-devis__buttonplay w-14 h-8 rounded-r-lg text-white font-semibold shadow-lg bg-legalcom border-l border-white hover:text-text-bluesky hover:bg-red-600 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
           <img
                        src="/images/trash_icon.svg"  width="20"
                        height="20"/>
        </button>
        <!-- component -->

        <div
            v-if="showmodal"
            class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
        >
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                <div
                    class="absolute inset-0 bg-gradient-to-r from-bluesky to-legalcom shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
                ></div>
                <div
                    class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20"
                >
                    <div class="max-w-md mx-auto">
                        <div>
                            <h1
                                class="m-auto text-2xl text-legalcom font-semibold"
                            >
                                Supprimer un Client
                            </h1>
                        </div>
                        <div v-if="catch_error"
                            class="bg-red-100 border-t-4 m-auto max-w-md border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md"
                            role="alert"
                        >
                            <div class="flex">
                                <div class="py-1">
                                    <svg
                                        class="fill-current h-6 w-6 text-red-500 mr-4"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20"
                                    >
                                        <path
                                            d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
                                        />
                                    </svg>
                                </div>
                                <div>
                                    <p class="font-bold">
                                        Un erreur est survenue ! 
                                    </p>
                                    <p class="text-sm">
                                        Ce client est affilié à un projet, le suppression est impossible.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="divide-y divide-gray-200">
                            <div
                                class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
                            >
                                <div class="relative">
                                    <select
                                        class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none"
                                        placeholder="Client"
                                        name="customers"
                                        v-model="customer_id"
                                    >
                                        <option
                                            class="text-gray-600"
                                            v-for="customer in customers"
                                            :key="customer.id"
                                            :value="customer.id"
                                        >
                                            {{ customer.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="flex flex-row justify-between">
                                    <button
                                        @click="toggleModal()"
                                        class="bg-bluesky text-white rounded-md px-2 py-1"
                                    >
                                        Annuler
                                    </button>
                                    <button
                                        @click="deleteCustomer()"
                                        class="bg-legalcom text-white rounded-md px-2 py-1"
                                    >
                                        Supprimer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showmodal: false,
            customers: "",
            customer_id: "",
            catch_error: false,
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
        };
    },
    mounted() {
        this.getCustomer();
    },
    methods: {
        toggleModal: function () {
            this.showmodal = !this.showmodal;
            this.catch_error = false;
        },
        deleteCustomer: function () {
            axios
                .post("/customerdelete", {
                    customer_id: this.customer_id,
                })
                .then((response) => {
                    console.log(response);
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                    this.catch_error = true;
                });
        },
        getCustomer: function () {
            axios
                .get("/customerget", {})
                .then((response) => {
                    console.log(response);
                    this.customers = response.data;
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
};
</script>
