<template>
    <div>
        <button
            v-on:click="toggleModal()"
            class="bloc-devis__buttonplay w-36 h-8 rounded-lg text-white font-semibold shadow-lg bg-bluesky hover:text-bluesky hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
            Créer un Projet
        </button>
        
        <div v-if="showmodal">
        <div v-if="!message_show">
        <div 
            
           class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden"
        >
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                <div
                    class="absolute inset-0 bg-gradient-to-r from-bluesky to-legalcom shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
                ></div>
                <div
                    class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20"
                >
                    <div class="max-w-md mx-auto">
                        <div>
                            <h1 class="text-2xl m-auto text-legalcom font-semibold">
                                Créer un Projet
                            </h1>
                        </div>
                        <div class="divide-y divide-gray-200">
                            <div
                                class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
                            >
                                <div class="relative">
                                    <input id="client" v-model="name" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-legalcom focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-legalcom dark:focus:border-legalcom" 
                                    :class="error_c.name ? 'border-2 border-red-500' : ''"
                                    placeholder="Nom projet..." />
                                    <label class="font-medium" :class="error_c.customer_id ? 'text-red-500' : ''">Client</label>
                            <select
                                class="m-auto w-full text-gray-400 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 outline-none focus:outline-none"
                                placeholder="intervenant"
                                name="customers"
                                v-model="customer_id"
                                :class="error_c.customer_id ? 'ring-2 ring-red-500' : ''"
                            >
                                <option option value="" disabled selected>
                                    Client
                                </option>
                                <option
                                class="text-gray-600"
                            v-for="customer in projects.customers.filter(a => a.id !== 1)"
                            :key="customer.id"
                            :value="customer.id"
                                >
                                {{ customer.name }}
                                </option>
                            </select>
                            <div class="flex flex-col gap mt-2">
                            <input
                        type="date"
                        id="start"
                        name="trip-start"
                        min="2022-05-01"
                        max="2030-12-31"
                        v-model="date_begin"
                        :class="error_c.date_begin ? 'border-2 border-red-500 text-red-600' : ''"
                    />
                    <input
                        type="date"
                        id="start"
                        name="trip-start"
                        min="2022-05-01"
                        max="2030-12-31"
                        v-model="date_end"
                        :class="error_c.date_end ? 'border-2 border-red-500 text-red-600' : ''"
                    />
                </div>
                                </div>
                                <div class="flex flex-row justify-between">
                                    <button @click="toggleModal(), resetError()"
                                        class="bg-bluesky text-white rounded-md px-2 py-1"
                                    >
                                        Annuler
                                    </button>
                                    <button @click="createProject()"
                                        class="bg-legalcom text-white rounded-md px-2 py-1"
                                    >
                                        Créer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div
            class="opacity-25 fixed inset-0 z-40 bg-black"
        ></div>
        </div>
        <div v-else class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none" >
   	<div class="absolute bg-black opacity-80 inset-0 z-0"></div>
    <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
      <!--content-->
      <div class="">
        <!--body-->
        <div class="text-center p-5 flex-auto justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mb-2 flex items-center text-green-500 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <img class="w-16 h-16 flex items-center mx-auto" src="/images/displaypoint/check-green.svg" />
                        <h2 class="text-xl font-bold py-4 ">L'action a bien été réalisé</h2>  
        </div>
        <!--footer-->
        <div class="p-3  mt-2 text-center space-x-4 md:block">
            <button @click="reloadWindow()" class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100">
                OK
            </button>
        </div>
      </div>
    </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showmodal: false,
            name: "",
            status: "",
            assigned_to: "",
            customer_id: "",
            date_begin: "",
            date_end: "",
            projects: {},
            message_show: false,
            error_c: {
                name: false,
                customer_id: false,
                date_begin: false,
                date_end: false,
            },
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
        };
    },
    mounted() {
        this.getProjects();
    },
    methods: {
        resetError: function(){
            Object.keys(this.error_c).forEach(v => this.error_c[v] = false);
        },
        returnCustomer: function (list){
            const intervenantRecherche = list.find(x => x.id !== '1');
            return intervenantRecherche;
        },
        toggleModal: function () {
            this.showmodal = !this.showmodal;
        },
        reloadWindow() {
            window.location.reload();
        },
        async getProjects() {
            axios
                .post("/projectform", {})
                .then((response) => {
                    console.log(response);
                    this.projects = response.data;
                    this.loading_dossier = false;
                })
                .catch((error) => {
                    console.log(error);
                    this.loading_dossier = false;
                });
        },
        createProject: function () {
            this.error_c.name = this.name == "" ? true : false;
            this.error_c.customer_id = this.customer_id == "" ? true : false;
            this.error_c.date_begin = this.date_begin == "" ? true : false;
            this.error_c.date_end = this.date_end == "" ? true : false;
            if(!this.error_c.name && !this.error_c.date_begin && !this.error_c.date_end){
            axios
                .post("/projectcreate", {
                    name: this.name,
                    status: this.status,
                    user_assigned_id: this.assigned_to,
                    customer_id: this.customer_id,
                    date_begin: this.date_begin,
                    date_end: this.date_end,
                })
                .then((response) => {
                    console.log(response);
                    this.message_show = true;
                })
                .catch((error) => {
                    console.log(error);
                });
        }},
    },
};
</script>
