<template>
    <!-- PAGINATION START -->
    <div class="flex flex-row justify-center gap-2">
        <section
            class="w-7 h-7 rounded-lg flex justify-center items-center border-2 hover:bg-gray-200"
        >
            <button
                :disabled="current == 1"
                class="lex justify-center items-center"
                @click="prev"
                aria-label="Previous"
            >
                <p>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15 19l-7-7 7-7"
                        />
                    </svg>
                </p>
            </button>
        </section>
        <section
            class="w-7 h-7 bg-myprimary rounded-lg flex justify-center items-center text-xl text-mywhite"
        >
            <span>{{ current }}</span>
        </section>
        <section
            class="w-7 h-7 rounded-lg flex justify-center items-center border-2 hover:bg-gray-200"
        >
            <button
                :disabled="current == last_page"
                class="lex justify-center items-centerl"
                @click="next()"
                aria-label="Next"
            >
                <p>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 5l7 7-7 7"
                        />
                    </svg>
                </p>
            </button>
        </section>
        <section class="w-7 h-7 rounded-lg flex justify-center items-center">
            <button
                class="rounded text-xl hover:bg-mygrey2 w-full h-full"
                @click="last()"
                aria-label="Next"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13 5l7 7-7 7M5 5l7 7-7 7"
                    />
                </svg>
            </button>
        </section>
    </div>
    <!--end col-->
    <!-- PAGINATION END -->
</template>
<script>
export default {
    props: {
        page: { required: true },
        last_page: { required: false },
    },
    data() {
        return {
            current: this.page,
            pageSize: 4,
            matchingJobs: {},
        };
    },
    watch: {
        page() {
            this.current = this.page;
        },
    },
    methods: {
        prev() {
            if (this.current > 1) this.current--;
            this.$emit("page:update", this.current);
        },
        next() {
            if (this.current < this.last_page) this.current++;
            this.$emit("page:update", this.current);
        },
        last() {
            this.current = this.last_page;
            this.$emit("page:update", this.last_page);
        },
    },
};
</script>
<style></style>
