
<template>
<section>
<button
            v-on:click="toggleModal()"
            class="bloc-devis__buttonplay w-64 h-8 rounded-lg text-white font-semibold shadow-lg bg-legalcom hover:text-bluesky hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
        Modifier l'ordre des points
        </button>
        <!-- component -->
        
        <div
            
           v-if="showmodal"  class="fixed inset-0 z-50 min-w-screen min-h-screen flex items-center justify-center font-sans overflow-hidden bg-white bg-opacity-70"
        >
  <div class="flex flex-col gap-2 w-1/4 h-3/4">
    <div class="overflow-y-scroll">
    <draggable class="dragArea list-group w-full" :list="display" @change="log">
      <div
        class="list-group-item bg-sky-200 hover:bg-sky-400 m-1 p-3 rounded-md text-center cursor-move"
        v-for="element in display"
        :key="element.id"
      >
        {{ element.order }} - {{element.name}}
      </div>
    </draggable></div>
    <div class="flex flex-row justify-between">
                                    <button @click="toggleModal()" 
                                        class="bg-bluesky text-white rounded-md px-2 py-1 hover:bg-opacity-70 cursor-pointer"
                                    >
                                        Annuler
                                    </button>
                                    <button @click="updateOrder()"
                                        class="bg-legalcom text-white rounded-md px-2 py-1 hover:bg-opacity-70"
                                    >
                                        Appliquer
                                    </button>
                                </div>
  </div>
  </div>
  </section>
</template>
<script>
  import { defineComponent } from 'vue'
  import { VueDraggableNext } from 'vue-draggable-next'
  export default defineComponent({
    components: {
      draggable: VueDraggableNext,
    },
    props: {
      project_id: {required: true},
    },
    data() {
      return {
        enabled: true,
        display: "",
        p_id: this.project_id,
        showmodal: false,
        list: [
          { name: 'John', id: 1 },
          { name: 'Joao', id: 2 },
          { name: 'Jean', id: 3 },
          { name: 'Gerard', id: 4 },
        ],
        dragging: false,
      }
    },
    mounted() {
      this.getAllDp();
    }
    ,
    methods: {
      log(event) {
        console.log(event)
      },
      toggleModal: function () {
            this.showmodal = !this.showmodal;
        },
      async getAllDp() {
            axios
                .post("/displayall", {
                    project_id: this.p_id,
                })
                .then((response) => {
                    console.log(response);
                    this.display = response.data.display_all;
                })
                .catch((error) => {
                    console.log(error);
                });
        },
      async updateOrder() {
            axios
                .post("/updateorder", {
                    display: this.display,
                })
                .then((response) => {
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                });
        },

    },
  })
</script>
