<template class="">
  <div class="overflow-x-auto bg-gray-100 h-screen pt-12">
                    
<!-- Breadcrumb -->
<nav class="flex ml-16 py-3 px-5 w-96 text-gray-700 bg-white rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a @click="BreadcrumbProject()" class="inline-flex items-center text-sm font-bold text-legalcom hover:text-gray-900 dark:text-gray-400 dark:hover:text-white cursor-pointer">
        <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
        Home
      </a>
    </li>
    
  </ol>
</nav>

        <div class="min-w-screen pt-12 flex items-center justify-center font-sans overflow-hidden">
        <div class="w-full lg:w-5/6">
        <!-- <button
            v-on:click="toggleModal()"
            class="bloc-devis__buttonplay w-32 h-8 rounded-lg text-white font-semibold shadow-lg bg-bluesky hover:text-bluesky hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
           Créer un Projet
        </button> -->
        <div class="flex flex-row gap-4 items-center">
        <example-component></example-component>
        <div class="flex flex-row items-center">
        <createcustomer-component></createcustomer-component>
        <drop-customer-component></drop-customer-component></div>
        </div>

        <div class="w-full bg-white shadow-md rounded my-6">
                <table class="min-w-max w-full md:table-fixed">
                    <thead>
                        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-center">                         
                            <input class="p-2 bg-gray-50 outline-none ml-1 block font-medium " type="text" name="name" id="" placeholder="Nom de Projet..." v-model="name" v-on:keyup="getProjects"> 
                            </th>
                            <th class="py-3 px-6 text-center "><input class="p-2 bg-gray-50 outline-none ml-1 block font-medium" type="text" name="" id="" placeholder="Client..." v-model="customer" v-on:keyup="getProjects"></th>
                            <th class="py-3 px-6 text-center">Date d'enquête</th>
                            <th class="py-3 px-6 text-center">Étape en cours</th>
                            <th class="py-3 px-6 text-center">Étape suivante</th>
                            
                            <th class="py-3 px-6 text-center">Assigné à</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light">
                        <tr class="text-center" v-if="loading_dossier">
                        <td colspan="6">
                        <button disabled type="button" class="py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
                        <svg role="status" class="inline mr-2 w-4 h-4 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
                        </svg>
                        Loading...
                        </button>
                        </td>
                        </tr>
                        <template v-if="projects.data && projects.data.length != 0">
                        <tr v-for="project in projects.data" :key="project.id" class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 px-6 text-center whitespace-nowrap cursor-pointer hover:bg-1aff hover:text-white" v-on:click="goToDisplayPoints(project.id)">
                                <span class="font-medium">{{project.name}}</span>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <div class="flex justify-center">
                                    <div class="mr-2">
                                        <img v-if="project.customer" class="w-6 h-6 rounded-full" src="https://randomuser.me/api/portraits/men/1.jpg"/>
                                    </div>
                                    <span class="font-medium" v-if="project.customer">{{project.customer.name}}</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="text-center">
                                    <span class="font-medium">Début : {{ moment(project.date_begin).format("DD/MM/YYYY") }} <br/>Fin : {{ moment(project.date_end).format("DD/MM/YYYY") }}</span>
                                    <!-- <span class="font-medium">{{ project.date_begin }}</span> -->
                                </div>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <div class="text-center">
                                    <span v-if="project.projectstep.length > 0" class="bg-purple-400 font-medium text-white py-1 px-3 rounded-full text-xs">{{project.dpstatus[0].name}}</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <div class="text-center">
                                    <span v-if="project.projectstep.length > 1" class="bg-emerald-500 font-medium text-white py-1 px-3 rounded-full text-xs">{{project.dpstatus[1].name}}</span>
                                    <span v-else class="bg-control font-medium text-white py-1 px-3 rounded-full text-xs">Plus d'étape à venir</span>
                                </div>
                            </td>
                            <!-- <td class="py-3 px-6 text-center">
                                <span v-bind:class="project.status == 'Proposition' ? 'bg-purple-400' : project.status == '1er Affichage' ? 'bg-1aff' : project.status == 'Contrôle' ? 'bg-control' : project.status == 'Terminé' ? 'bg-emerald-500' : ''" class=" font-medium text-white py-1 px-3 rounded-full text-xs">{{project.status}}</span> 
                            </td> -->
                            
                            <td class="py-3 px-6 text-center">
                                <div class="flex items-center justify-center">
                                    <img class="w-6 h-6 rounded-full border-gray-200 border transform hover:scale-125" src="https://randomuser.me/api/portraits/men/1.jpg"/>
                                    <ul><li v-for="(userproject, index) in getCommercial(project.id)" :key="index">
                                    {{userproject.name}}
                                    </li>
                                    </ul>
                                   <span v-if="project.users.length > 0" class="font-medium">{{project.users[0].firstname}} {{project.users[0].name}}</span>
                                </div>
                            </td>
                        </tr>
                        </template>
                        <template v-else>
                        <tr class="text-center border-b border-gray-200 hover:bg-gray-100">
                            <td colspan="8"> Aucun résultat pour cette recherche...</td>
                        </tr>
                        </template>
                    </tbody>
                </table>
                <newpagination-component :page="projects.current_page" :last_page="projects.last_page" @page:update="getProjects($event)"></newpagination-component>
                
            </div>
        </div>
    </div>
</div> 
</template>

<script>
import moment from "moment";
import NewpaginationComponent from './NewpaginationComponent.vue';
import ExampleComponent from './ExampleComponent.vue';
import Popper from "vue3-popper";


export default {
     components: {
        NewpaginationComponent,
        ExampleComponent,
        Popper,
    },
    data() {
      return {
        moment: moment,
         projects: {},
         loading_dossier: false,
        name: "",
        customer: "",
        projectstep: "",
        geoloc: "",
        state: "Tous",

        //  csrf: document.querySelector('meta[name="csrf-token"]').getAttribute("content"),
      };
   },
    mounted() {
      this.getProjects();
      this.geoloc = this.getPosition().then(this.geoloc);
   },
    methods: {
     getPosition: function() {
    // Simple wrapper
    return new Promise((res, rej) => {
        navigator.geolocation.getCurrentPosition(res, rej);
    });
},
      
        async getProjects(page = 1) {
            this.loading_dossier = true;
         axios
            .post("/projects?page=" + page, {
               name: this.name,
               customer: this.customer,
            })
            .then((response) => {
                console.log(response);
               this.projects = response.data.projects;
               this.loading_dossier = false;
            })
            .catch((error) => {
            console.log(error);
            this.loading_dossier = false;
            });
      },
        async getCommercial(project_id) {
         axios
            .post("/projectgetcommercial",  {
               project_id: project_id
            })
            .then((response) => {
               console.log(response);
               this.users_project = response.data.users_project;
            })
            .catch((error) => {
            console.log(error);
            });
      },
      goToDisplayPoints: function(id) {
         window.location = ("/projects/" + id + "/displaypoints");
      },

      BreadcrumbProject: function() {
         window.location = ("/projects/");
      },
     
    }
}
</script>

<style>
:root {
    --popper-theme-background-color: #ffffff;
  --popper-theme-background-color-hover: #ffffff;
  --popper-theme-text-color: #333333;
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-color: #eeeeee;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 32px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
  }
</style>